main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DadosConteiner{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecario{
    margin: 3vh;
    height: 5vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}